<div class=" d-flex flex-column align-items-center justify-content-center py-2">
      <div class="mb-2">
        <a href="https://www.instagram.com/qreativedesigner/" target="_blank" rel="noopener" class="mx-2" aria-label="Instagram"
        style="color: #000;">
          <i class="fa-brands fa-instagram footer-icon"></i>
        </a>
        <a href="https://www.linkedin.com/in/qreativegraphicdesigner/" target="_blank" rel="noopener" class="mx-2" aria-label="LinkedIn"
        style="color: #000;">
          <i class="fa-brands fa-linkedin footer-icon"></i>
        </a>
        <a href="mailto:qreativedesigner@gmail.com" class="mx-2" aria-label="Email"
        style="color: #000;">
          <i class="fa-solid fa-envelope footer-icon"></i>
        </a>
      </div>
      <small class="text-muted">&copy; 2025 QreativeDesign</small>
    </div>